


.nav-bar {

  background-color:#282A35;
}
.txt{
  color: white;
  font-size: 20px;
}
.brand-logo{

  margin-left: -10px;
}
.theme-icon{
  background-color: white;
  width:30px;
  height:30px;
  margin: 10px;
}
.nav{
  margin-right: -300px;
}
.theme-dark{
  background-color: black;
  color:#ffff;
}
.theme-light{
  background-color:white;
  color:black;
}

