.que {
    margin: 20px;
    font-size: 25px;
}

.content {
    display: flex;
    margin: 20px;
    justify-content: space-between;

}

.que-body {
    background-color: #666163;
    position: relative;
    right: 20px;
    border-radius: 10px;
    padding: 5px 20px;
    padding-bottom: 10px;
    margin-left: 40px;

}

.que-heading {
    font-size: 25px;
    text-align: center;
    color: white;
}

.button {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.btn {
    width: 50px;
    text-align: center;
    padding: 2px;
    font-size: 20px;
    margin: 3px;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cont {
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.pnbutton {
    font-size: 20px;
    border: none;
    background-color: gray;
    padding: 5px 25px;
    position: relative;
    bottom: -80px;
    margin: 30px;

}

