@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



body{
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f7f6f6;
}.que {
    margin: 20px;
    font-size: 25px;
}

.content {
    display: flex;
    margin: 20px;
    justify-content: space-between;

}

.que-body {
    background-color: rgb(234, 230, 230);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    position: relative;
    right: 20px;
    margin-left: 40px;
    padding: 5px 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.que-heading {
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.button {
    display:flex;
   flex-direction: column;
}

.abc{
display: inline-flex;
}


.btn1 {
    width: 50px;
    text-align: center;
    padding: 3px;
    font-size: 20px;
    margin: 6px;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(164, 192, 244);
    box-shadow: 2px 2px 2px white;
}

.btn-cont {
    display: flex;
    justify-content:center;
    align-items: center;
}

.pnbutton {
    font-size: 20px;
    border: none;
    background-color: gray;
    padding: 5px 25px;
    position: relative;
    margin: 80px 30px;
    border-radius: 8px;
}

.a{
    background-color: rgb(102, 104, 228);
    color: white;
}

.b{
    background-color:rgb(87, 208, 252);
}
@media (max-width: 768px)  { 
    .content {
        display: flex;
        flex-direction: column;
        margin: 1%;
        justify-content: space-between;
    }
    .que-body{
        margin-top: 50px;
    }
 }