body{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');
header{
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}