.theme-icon{
    height:30px;
    width:30px;
    cursor:pointer;
    padding:5px;
    border-radius: 5px;
    background-color: #ffff;
  } 
    /*js script css*/
      .active{
      
        border:1px solid  black;
      }
      .theme-dark{
        background-color: black;
        color:#ffff;
      }
      .theme-light{
        background-color:rgb(255, 255, 200);

        color:black;
      }



      /*clock */
      #clock{
        background-color: #ffff;
      width:130px;
      border-radius: 20px;
      
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      display:block;
      margin:10px auto;
      padding:20px;
      margin-left:1320px;
      color:blue;
      background-color: #fffcfe;
    }
          /*body img */

      

          .dash-card{
            height:280px;
            padding:10px;
            width:400px;
            display: inline-block;
            margin:20px 50px;
            border-radius:20px;
            margin-bottom: 80px;
            background-color:  rgb(247, 239, 239);
           
          
            box-shadow:0 0 30px rgba(0 , 0 , 0, 0.2);
            
          }
          .dash-card:hover{
            background-color:#fbe5f5;
          
          }
        
        .img{
          width:150px;
          height:150px;
          display:flex;
          margin:20px auto;
          margin-bottom:50px;
         
        }
        b{
          font-size:25px;
        }
        .heading{
          margin-top: 10px;
          display: flex;
          justify-content:center;
         
        }
 .paragraph{
  color:black;
  padding:5px;
  text-decoration: none;
 }


/* button desion from html,css ,js session*/

 .pnbutton {
  font-size: 20px;
  border: none;
  background-color: rgb(102, 104, 228);
  
  position: relative;
  border-radius: 8px;
  margin-left:130px;
  margin-top:30px;
  
}

 /*implemennt like card review */

#main-prodimg{

  height:500px;
  width:1500px;
 margin-top: 30px;
 margin-left:10px;


  
  border:1px solid black;
  border-radius:20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  display: flex;
  margin:20px auto;
}
.pro-img{
  height:70px;
  width:70px;
  border:1px solid black;
  border-radius:5px;
  margin:10px;
  cursor:pointer;
  
 
}
 .pro-img-container{
  display:flex;
  justify-content: center;

 }

 /* media query */


@media (min-width: 600px) and (max-width: 768px){ 


  .dash-card{
    height:280px;
    padding:10px;
    width:400px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin:30px 80px;
    border-radius:20px;
    background-color:  rgb(247, 239, 239);
  
    box-shadow:0 0 30px rgba(0 , 0 , 0, 0.2);
    
  }
  .dash-card:hover{
    background-color:#fbe5f5;
  
  }
  /*clock */
  #clock{
    background-color: #ffff;
  width:130px;
  border-radius: 20px;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display:block;
  margin:10px auto;
  padding:20px;
  margin-left:20px;
  color:blue;
  background-color: #fffcfe;
}

}



